.main_csv::-webkit-file-upload-button {
  visibility: hidden;
}
.main_csv::before {
  content: 'Main App. Data';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.main_csv:hover::before {
  border-color: black;
}
.main_csv:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.credit_card::-webkit-file-upload-button {
  visibility: hidden;
}
.credit_card::before {
  content: 'Credit Card Balance';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.credit_card:hover::before {
  border-color: black;
}
.credit_card:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.bureau::-webkit-file-upload-button {
  visibility: hidden;
}
.bureau::before {
  content: 'Credit Bureau Data';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.bureau:hover::before {
  border-color: black;
}
.bureau:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.payments::-webkit-file-upload-button {
  visibility: hidden;
}
.payments::before {
  content: 'Installments/Payments';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.payments:hover::before {
  border-color: black;
}
.payments:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.prev_app::-webkit-file-upload-button {
  visibility: hidden;
}
.prev_app::before {
  content: 'Previous Applications';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.prev_app:hover::before {
  border-color: black;
}
.prev_app:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.cash::-webkit-file-upload-button {
  visibility: hidden;
}
.cash::before {
  content: 'Cash Balance';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.cash:hover::before {
  border-color: black;
}
.cash:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

